html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ff9770;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button, .formBtn{
  background-color:#fdff70;
  border-radius: 5px;
  border-style: none;
}
#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
 text-align: left;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}

#adminForm, #addBookForm{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: max-content;
  margin-bottom: 5px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#adminForm input, #adminForm select, #filterCountry input,
#filterAuthors input, #filterTitleForm input, #addBookForm input, 
#addBookForm select{
  padding: 5px;
  margin: 5px;
}

.bookDetailsTag ul {
    list-style: none;
    padding: 0;  /* removes default left indent */
    margin: 0;
}

.bookContent{
  box-sizing: border-box;
  width: max-content;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(186, 223, 255);
  height: max-content;
  margin: 5px;
}
