html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
 text-align: left;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

#addBookForm #adminForm{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
  width: 95%;
  margin-left: 10px;
}

.bookDetailsTag ul {
    list-style: none;
    padding: 0;  /* removes default left indent */
    margin: 0;
}

.bookContent{
  box-sizing: border-box;
  width: max-content;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(186, 223, 255);
  height: max-content;
  margin: 5px;
}
